html, body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}

#container {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 740px;
}

h1 {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  font-style: italic;
}

[data-href] {
  cursor: pointer;
}

.select select {
  border: 1px solid #aaa;
  padding: 5px;
  border-radius: 5px;
}

.btn {
  border: 1px solid #aaa;
  padding: 5px 10px;
  border-radius: 5px;
  background-color:white;
}

.btn:hover {
  background-color: #ddd;
}

.product-name {
  font-weight: bold;
  font-style: italic;
}

.code {
  display: inline-block;
  padding: 0px 5px;
  background-color: #ddd;
  border-radius: 3px;
}

.tabs {
  display: flex;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ddd;
}

.tabs li {
  padding: 10px 20px;
  margin: 0;
  border: 1px solid #ddd;
  border-left: 0;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
  position: relative;
  bottom: -1px;
}

.tabs li.active {
  background-color: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

.tabs li:first-child {
  margin-left: 20px;
  border-left: 1px solid #ddd;
}

.content {
  position: relative;
  z-index: 1;
}

.content .inner {
  /* display: none  ; */
}

.content.about .about {
  display:block;
}

.content.manual .manual {
  display:block;
}

.content.examples .examples {
  display:block;
}

.products {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

.products li {
  width: 30%;
  margin-right: 3.3%;
  margin-bottom: 10px;
}
.products li .image {
  margin-bottom: 10px;
  height: 150px;
  display: flex;
  align-content: center;
  align-items: center;
}

.products li a {
  display: block;
}

.products li img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 150px;
  margin: auto;
}

.logo {
  color: black;
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 30px;
  font-style: normal;
  line-height: 1em;
  padding: 4px 0 0 8px;
  font-weight: normal;
  box-sizing: border-box;
  font-family: 'Cinzel';
  white-space: nowrap;
}

.logo .letter {
  display: inline-block;
  position: relative;
}

.logo .r {
  top: 10px;
  right: 18px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}